{% extends "base.html" %}

{% block title %}Fotos{% endblock %}

{% block content %}
<h1>Fotos</h1>
{% if photos.len() == 0 %}
    Aún no hay fotos.
{% else %}
<table>
    <thead>
    <tr>
        <th>Foto</th>
        <th>Tiempo</th>
    </tr>
    </thead>
    <tbody>
    {% for photo in photos %}
        <tr>
            <td><img src="data:image/jpg;base64,{{photo.base64_image}}" alt="photo" /></td>
            <td>{{photo.timestamp}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
